@model List<Empite.PitchReady.Web.Areas.Admin.Client>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List</h1>
@Html.ActionLink("Add Client", "Create", "Client")
<table border="1">
    <tr><th>First Name</th><th>Last Name</th><th>Email</th><th>Status</th></tr>
    @foreach (var client in @Model)
    {
        var status = client.IsActive ? "Active" : "Not Activated";
        <tr><td>@client.FirstName</td><td>@client.LastName</td><td>@client.Email</td><td>@status</td></tr>
    }
</table>